<%-include("views/partials/header.ejs")  %>
 <div class = "todoSection">
                <div class="sectionHeader">
                        <h1><%=header%></h1>
                </div>
                <div class="todoSection">
                        <% if(locals.workItemArray){ %>
                            
                                <% workItemArray.forEach((work) => { %>
                                    <form class="item" action="/delete" method="POST">
                                        <div class="item">
                                            <input type="checkbox" name="objectID" value="<%=work._id %>" onChange="this.form.submit()">
                                            <p><%=work.itemName %></p>
                                        </div>
                                        <input type="hidden" name="itemType" value="<%=work.flag%>"></input>
                                    </form>
                                <% }) %>
                        <% } %>
                        
                            <form class="item" action="/add" method="POST">
                                <input type="text" name="list-item" placeholder="New Item" required>
                                <button type="submit" name="addItem" value="<%=header%>">+</button>
                            </form>
                    
                    </div>
</div>
<%-include("views/partials/footer.ejs")  %> 
       